.my-0.mr-md-auto.font-weight-normal{
    color: #007bff;
    font-weight: 500 !important;
    font-size: 30px;
}

body{
    font-family: 'Raleway' !important;
}

.jumbotron.text-center.welcome{
    background-color: white ;
}

