.my-0.mr-md-auto.font-weight-normal{
    color: #007bff;
    font-weight: 500 !important;
    font-size: 30px;
}

body{
    font-family: 'Raleway' !important;
}

<<<<<<< HEAD
.jumbotron.text-center.welcome{
    background-color: white ;
}

=======
>>>>>>> 389f1e44bb21faadd31c559c04c999c4ba9488e7
