{% extends 'includes/layout.html' %}

{% block body %}

<h3 class="text-center">Your Feed</h3>
<p></p>

<!-- Replace this dummy with a for loop that loads all users -->
<!-- 
    { for user in users }
    <div class="jumbotron">
        <h2>John Doe</h2>
        <ul>
            <li>
                Degree: {{user.degree}}
            </li>
            <li>
                Year: {{user.year}}
            </li>
            <li>
                GPA: {{user.gpa}}
            </li>
            <li>
                Email: {{user.email}}
            </li>
            <li>
                Github: {{user.github}}
            </li>
            <p></p>
            <a class="btn btn-primary" href="viewprofile">View Profile</a>
        </ul>
<   /div>
    { endfor }


 -->







{% endblock %}