{% extends 'includes/layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h3>Feed</h3>
</div>

<!-- Replace this dummy with a for loop that loads all users -->

<div class="jumbotron">
    <h2>John Doe</h2>
    <ul>
        <li>
            Degree: Computer Engineering
        </li>
        <li>
            Year: Second
        </li>
        <li>
            GPA: 3.2
        </li>
        <li>
            Email: JohnDoe@gmail.com
        </li>
        <li>
            Github: github.com/johndoe
        </li>
        <p></p>
        <a class="btn btn-primary" href="viewprofile">View Profile</a>
    </ul>
</div>

<div class="jumbotron">
    <h2>John Doe</h2>
    <ul>
        <li>
            Degree: Computer Engineering
        </li>
        <li>
            Year: Second
        </li>
        <li>
            GPA: 3.2
        </li>
        <li>
            Email: JohnDoe@gmail.com
        </li>
        <li>
            Github: github.com/johndoe
        </li>
        <p></p>
        <a class="btn btn-primary" href="viewprofile">View Profile</a>
    </ul>
</div>

<div class="jumbotron">
    <h2>John Doe</h2>
    <ul>
        <li>
            Degree: Computer Engineering
        </li>
        <li>
            Year: Second
        </li>
        <li>
            GPA: 3.2
        </li>
        <li>
            Email: JohnDoe@gmail.com
        </li>
        <li>
            Github: github.com/johndoe
        </li>
        <p></p>
        <a class="btn btn-primary" href="viewprofile">View Profile</a>
    </ul>
</div>



{% endblock %}