{% extends 'includes/layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome To Code Stats</h1>
        <p class="lead">By Evan Timms and Ben Ripka</p>
    </div>
    <div>
        <ul class="list-group">
            <!-- displays basic user data -->
            {% for el in profile %}
            <li class="list-group-item">{{el.name}}</li> 
            <li class="list-group-item">Degree: {{el.degree}}</li>
            <li class="list-group-item">Year: {{el.year}}</li>
            <li class="list-group-item">GPA: {{el.gpa}}</li>
            <li class="list-group-item">Email: {{el.email}}</li>
            <li class="list-group-item">Github: <a href="{{el.github}}">{{el.github}}</a></li> 
            {%endfor%}
        </ul>
        <div id="chart">
            <embed type="image/svg+xml" src= {{ chart|safe }} />
        </div>
    </div> 
{% endblock %}