{% extends 'includes/layout.html' %}

{% block body %}
<div>
   <p></p>
    <div class="resume">
        <header class="page-header">
          <img src="{{picture}}" alt="Profile Picture" style="max-width: 200px">
          <h1 class="page-title">{{name}}</h1>
          <h3>{{username}}</h3>
          <div class="text-left">
        <a class="btn btn-secondary btn-sm " href="editprofile" role="button">Edit Profile</a>
    </div>
    <p></p>
      </header>
      <div class="row">
      <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item">{{degree}}</li>
            <li class="list-group-item">{{year}}</li>
            <li class="list-group-item">{{gpa}}</li>
            <li class="list-group-item">{{email}}</li>
            <li class="list-group-item">{{github}}</li>
          </ul>
      </div>
     
      <div class="col-6">
        <div id="chart">
            <embed type="image/svg+xml" src= {{ langchart|safe }} />
        </div>
      </div>
    </div>
          <div class="bs-callout bs-callout-danger">
            <h3>Summary</h3>
            <p>
             {{bio}}
            </p>
          </div>
          <div class="bs-callout bs-callout-danger">
            <h3>Interests</h3>
            <p>
             {{interests}}
            </p>
          </div>
    
          <div class="bs-callout bs-callout-danger">
            <h3>Prior Experiences</h3>
            <ul class="list-group">
                <p></p>
                <h4 class="list-group-item-heading">
                  {{job1_h}}
                </h4>
                <p class="list-group-item-text">
                  {{job1_des}}
                </p>
                <p></p>
                <h4 class="list-group-item-heading">{{job2_h}}</h4>
                <p class="list-group-item-text">
                 {{job2_des}}
                </p>
                <p></p>
                <h4 class="list-group-item-heading">{{job3_h}}</h4>
                <p class="list-group-item-text">
                 {{job3_des}}
                </p>
                <p></p>
            </ul>
          </div>
          <div class="row">
                <div class="col-6">
                    <div id="chart">
                        <embed type="image/svg+xml" src= {{ skilltree|safe }} />
                    </div>
                </div>
                <div class="col-6">
                    <h3>Projects</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{proj1_h}}</h4> 
                            <p class="list-group-item-text">{{proj1_des}}</p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{proj2_h}}</h4> 
                            <p class="list-group-item-text">{{proj2_des}}</p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{proj3_h}}</h4> 
                            <p class="list-group-item-text">{{proj3_des}}</p>
                        </li>
                    </ul>
                </div>
          </div>
          
    <p></p>
   
    <p></p>    
   
    <p></p>
    </div> 
{% endblock %}