{% extends 'includes/layout.html' %}

{% block body %}
    <div class="text-center">
        
    </div>

    <div class="jumbotron text-center welcome">
        <img class="img-fluid" src="/static/Norwegian.jpg" alt="welcome_picture">
        <p></p>
        <h1>Welcome To Code Stats</h1>
        <p class="lead">By Evan Timms and Ben Ripka</p>
        <p class=text-center> <i>Code Stats made finding interns for SpaceX a breeze - Elon Musk </i></p>
        <p class=text-center> <i>Code Stats made it super easy to find programmers that use MatLab - Mcdonalds Recruiter </i></p>
    </div>
    <p class="text-center">
        Please sign in to use the App
    </p>
{% endblock %}